.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010824;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.icons {
  display: flex;
  gap: 10px;
  svg {
    fill: white;
  }
}
