.neon {
  position: absolute;
  top: 53%;
  display: inline-block;
  height: 2px;
  border-radius: 100px;
  width: 80%;
  left: 10%;
  background: #8c5bf1;
  animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  from {
    opacity: 1;
    box-shadow: 0 0 10px #8c5bf1, 0 0 20px #8c5bf1, 0 0 30px #8c5bf1,
      0 0 40px #8c5bf1;
  }
  to {
    opacity: 0.5;
    box-shadow: 0 0 20px #8c5bf1, 0 0 30px #8c5bf1, 0 0 40px #8c5bf1,
      0 0 50px #8c5bf1;
  }
}
